<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.liste.home.title">Listes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-liste" [routerLink]="['/liste/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionApp.liste.home.createLabel">
            Create a new Liste
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="listes?.length === 0">
        <span jhiTranslate="gestionApp.liste.home.notFound">No listes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="listes && listes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.liste.titre">Titre</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.liste.position">Position</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.liste.visible">Visible</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.liste.projet">Projet</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let liste of listes ;trackBy: trackId">
                    <td><a [routerLink]="['/liste', liste.id, 'view']">{{ liste.id }}</a></td>
                    <td>{{ liste.titre }}</td>
                    <td>{{ liste.position }}</td>
                    <td>{{ liste.visible }}</td>
                    <td>
                        <div *ngIf="liste.projet">
                            <a [routerLink]="['/projet', liste.projet?.id, 'view']" >{{ liste.projet?.titre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/liste', liste.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/liste', liste.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(liste)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
