<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.tache.home.title">Taches</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tache" [routerLink]="['/tache/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionApp.tache.home.createLabel">
            Create a new Tache
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="taches?.length === 0">
        <span jhiTranslate="gestionApp.tache.home.notFound">No taches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="taches && taches.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.tache.titre">Titre</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.tache.dateDebut">Date Debut</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.tache.dateFin">Date Fin</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.tache.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.tache.etat">Etat</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.tache.poids">Poids</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.tache.categorie">Categorie</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.tache.position">Position</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.tache.visible">Visible</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.tache.liste">Liste</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tache of taches ;trackBy: trackId">
                    <td><a [routerLink]="['/tache', tache.id, 'view']">{{ tache.id }}</a></td>
                    <td>{{ tache.titre }}</td>
                    <td>{{ tache.dateDebut | date:'mediumDate' }}</td>
                    <td>{{ tache.dateFin | date:'mediumDate' }}</td>
                    <td>{{ tache.description }}</td>
                    <td>{{ tache.etat }}</td>
                    <td>{{ tache.poids }}</td>
                    <td>{{ tache.categorie }}</td>
                    <td>{{ tache.position }}</td>
                    <td>{{ tache.visible }}</td>
                    <td>
                        <div *ngIf="tache.liste">
                            <a [routerLink]="['/liste', tache.liste?.id, 'view']" >{{ tache.liste?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tache', tache.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tache', tache.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tache)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
