<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notification">
            <h2><span jhiTranslate="gestionApp.notification.detail.title">Notification</span> {{ notification.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionApp.notification.dateHeure">Date Heure</span></dt>
                <dd>
                    <span>{{ notification.dateHeure }}</span>
                </dd>
                <dt><span jhiTranslate="gestionApp.notification.emetteur">Emetteur</span></dt>
                <dd>
                    {{ notification.emetteur?.login }}
                </dd>
                <dt><span jhiTranslate="gestionApp.notification.destinataire">Destinataire</span></dt>
                <dd>
                    {{ notification.destinataire?.login }}
                </dd>
                <dt><span jhiTranslate="gestionApp.notification.typeNotification">Type Notification</span></dt>
                <dd>
                    <div *ngIf="notification.typeNotification">
                        <a [routerLink]="['/type-notification', notification.typeNotification?.id, 'view']">{{ notification.typeNotification?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionApp.notification.tache">Tache</span></dt>
                <dd>
                    <div *ngIf="notification.tache">
                        <a [routerLink]="['/tache', notification.tache?.id, 'view']">{{ notification.tache?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionApp.notification.liste">Liste</span></dt>
                <dd>
                    <div *ngIf="notification.liste">
                        <a [routerLink]="['/liste', notification.liste?.id, 'view']">{{ notification.liste?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionApp.notification.projet">Projet</span></dt>
                <dd>
                    <div *ngIf="notification.projet">
                        <a [routerLink]="['/projet', notification.projet?.id, 'view']">{{ notification.projet?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionApp.notification.membres">Membres</span></dt>
                <dd>
                    <div *ngIf="notification.membres">
                        <a [routerLink]="['/membres', notification.membres?.id, 'view']">{{ notification.membres?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notification', notification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
