<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.notification.home.title">Notifications</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notification" [routerLink]="['/notification/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionApp.notification.home.createLabel">
            Create a new Notification
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notifications?.length === 0">
        <span jhiTranslate="gestionApp.notification.home.notFound">No notifications found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="notifications && notifications.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.notification.dateHeure">Date Heure</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.notification.emetteur">Emetteur</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.notification.destinataire">Destinataire</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.notification.typeNotification">Type Notification</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.notification.tache">Tache</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.notification.liste">Liste</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.notification.projet">Projet</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.notification.membres">Membres</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notification of notifications ;trackBy: trackId">
                    <td><a [routerLink]="['/notification', notification.id, 'view']">{{ notification.id }}</a></td>
                    <td>{{ notification.dateHeure | date:'medium' }}</td>
                    <td>
                        {{ notification.emetteur?.login }}
                    </td>
                    <td>
                        {{ notification.destinataire?.login }}
                    </td>
                    <td>
                        <div *ngIf="notification.typeNotification">
                            <a [routerLink]="['/type-notification', notification.typeNotification?.id, 'view']" >{{ notification.typeNotification?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="notification.tache">
                            <a [routerLink]="['/tache', notification.tache?.id, 'view']" >{{ notification.tache?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="notification.liste">
                            <a [routerLink]="['/liste', notification.liste?.id, 'view']" >{{ notification.liste?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="notification.projet">
                            <a [routerLink]="['/projet', notification.projet?.id, 'view']" >{{ notification.projet?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="notification.membres">
                            <a [routerLink]="['/membres', notification.membres?.id, 'view']" >{{ notification.membres?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/notification', notification.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/notification', notification.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(notification)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
