<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.fichier.home.title">Fichiers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fichier" [routerLink]="['/fichier/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionApp.fichier.home.createLabel">
            Create a new Fichier
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fichiers?.length === 0">
        <span jhiTranslate="gestionApp.fichier.home.notFound">No fichiers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fichiers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.fichier.fichier">Fichier</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.fichier.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.fichier.membres">Membres</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.fichier.tache">Tache</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fichier of fichiers ;trackBy: trackId">
                    <td><a [routerLink]="['/fichier', fichier.id, 'view']">{{ fichier.id }}</a></td>
                    <td>
                        <a *ngIf="fichier.fichier" (click)="openFile(fichier.fichierContentType, fichier.fichier)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="fichier.fichier">{{ fichier.fichierContentType }}, {{ byteSize(fichier.fichier) }}</span>
                    </td>
                    <td>{{ fichier.nom }}</td>
                    <td>
                        <div *ngIf="fichier.membres">
                            <a [routerLink]="['/membres', fichier.membres?.id, 'view']" >{{ fichier.membres?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="fichier.tache">
                            <a [routerLink]="['/tache', fichier.tache?.id, 'view']" >{{ fichier.tache?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fichier', fichier.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fichier', fichier.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fichier)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
