<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.projet.home.title">Mes Projets</span>
    </h2>
    <br>
    <div class="card-group" *ngIf="projets">
        <div *ngFor="let projet of projets" [routerLink]="['/projet', projet.id, 'manage']" class="col-sm-3">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem; cursor: pointer">
                <div class="card-body">
                    <h5 class="card-title">{{ projet.titre }}</h5>
                    <p class="card-text">{{ projet.description }}</p>
                </div>
            </div>
        </div>
        <div id="jh-create-entity" [routerLink]="['/projet/new']" class="card text-white bg-secondary mb-3" style="max-width: 18rem; cursor: pointer; text-align: center; text-align: center">
            <div class="card-body">
                <p class="card-text">Créer un projet</p>
            </div>
        </div>
    </div>
</div>
