<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.projet.home.title">Mes Projets</span>
    </h2>
    <br>
        <div *ngIf="projetsMembre" class="card-group">
            <div class="card-group col-sm-3">
            <div id="jh-create-entity" [routerLink]="['/projet/new']" class="card text-white cardNouveauProjet mb-3" >
                <div class="card-body">
                    <p class="card-text">Créer un projet</p>
                </div>
            </div>
            </div>
            <div *ngFor="let projet of projetsMembre" [routerLink]="['/projet', projet.id, 'manage']" class="col-sm-3">
                <div class="card cardProjet text-white mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ projet.titre }}</h5>
                        <p class="card-text">{{ projet.description }}</p>
                    </div>
                </div>
            </div>
        </div>
</div>
