<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="label">
            <h2><span jhiTranslate="gestionApp.label.detail.title">Label</span> {{ label.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionApp.label.name">Name</span></dt>
                <dd>
                    <span>{{ label.name }}</span>
                </dd>
                <dt><span jhiTranslate="gestionApp.label.color">Color</span></dt>
                <dd>
                    <span>{{ label.color }}</span>
                </dd>
                <dt><span jhiTranslate="gestionApp.label.projet">Projet</span></dt>
                <dd>
                    <div *ngIf="label.projet">
                        <a [routerLink]="['/projet', label.projet?.id, 'view']">{{ label.projet?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/label', label.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
