<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.label.home.title">Labels</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-label" [routerLink]="['/label/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionApp.label.home.createLabel">
            Create a new Label
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="labels?.length === 0">
        <span jhiTranslate="gestionApp.label.home.notFound">No labels found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="labels && labels.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.label.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.label.color">Color</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.label.projet">Projet</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let label of labels ;trackBy: trackId">
                    <td><a [routerLink]="['/label', label.id, 'view']">{{ label.id }}</a></td>
                    <td>{{ label.name }}</td>
                    <td>{{ label.color }}</td>
                    <td>
                        <div *ngIf="label.projet">
                            <a [routerLink]="['/projet', label.projet?.id, 'view']" >{{ label.projet?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/label', label.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/label', label.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(label)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
