<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-label-heading" jhiTranslate="gestionApp.label.home.createOrEditLabel">Create or edit a Label</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.label.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.label.color" for="field_color">Color</label>
                    <select type="text" class="form-control" name="color" id="field_color" formControlName="color">
                        <option>Blanc</option>
                        <option>Bleu</option>
                        <option>Gris</option>
                        <option>Jaune</option>
                        <option>Orange</option>
                        <option>Marron</option>
                        <option>Rose</option>
                        <option>Rouge</option>
                        <option>Vert</option>
                        <option>Violet</option>
                    </select>
                </div>

                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="gestionApp.label.projet" for="field_projet">Projet</label>
                    <select class="form-control" id="field_projet" name="projet" formControlName="projet">
                        <option *ngIf="!editForm.get('projet')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="projetOption.id === editForm.get('projet')!.value?.id ? editForm.get('projet')!.value : projetOption" *ngFor="let projetOption of projets; trackBy: trackById">{{ projetOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('projet')!.invalid && (editForm.get('projet')!.dirty || editForm.get('projet')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('projet')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
