@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: #22427c;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  background-color: #22427c;
  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 60px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/Alteca_Blanc_3508x2480.png') no-repeat center center;
  background-size: contain;
}

/* ==========================================================================
Notifications styles
========================================================================== */

.dropdown-menu-notif {
  overflow: auto;
  max-width: 18rem;
  min-width: 12rem;
  max-height: 19rem;
  padding: 0;
  font-size: 0.85rem;

  @media screen and (min-width: 768px) {
    margin-left: -88%;
    max-height: 32rem;
    left: 64% !important;
  }
}

.card {
  width: 18rem;
  white-space: nowrap;
}

.card-title {
  margin-bottom: 0.25rem;
  font-size: 1.06rem;
}

hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.dropdown-item-notif,
.dropdown-item-delete {
  display: block;
  width: 100%;
  padding: 0.3rem 0.5rem;
  white-space: initial;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  background-color: transparent;
  border: 0;
}

.dropdown-item-notif:hover,
.dropdown-item-notif:focus,
.dropdown-item-delete:hover,
.dropdown-item-delete:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.close {
  position: fixed;
  left: 169px;
}

.dropdown-item-delete:hover,
.dropdown-item-delete:focus {
  cursor: default;
}

.card-date {
  font-size: x-small;
}
