<nav class="navbar navbar-dark navbar-expand-md">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                        <a class="dropdown-item" routerLink="projet" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.projet">Projet</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="membres" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.membres">Membres</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="participant" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.participant">Participant</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="liste" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.liste">Liste</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tache" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.tache">Tache</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="commentaire" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.commentaire">Commentaire</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="fichier" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.fichier">Fichier</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="type-notification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.typeNotification">Type Notification</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="notification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notification">Notification</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="list" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="book" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                            <fa-icon icon="hdd" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.database">Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{ language | findLanguageFromKey }}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-icon icon="user"></fa-icon>
                        <span jhiTranslate="global.menu.account.main">
                            Account
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="notification-menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-icon icon="bell"></fa-icon>
                        <span jhiTranslate="global.menu.entities.notification">
                            Notifications</span>
                        <mdb-badge danger="true">{{notifcount}}</mdb-badge>
                    </span>
                </a>
                <ul class="dropdown-menu-notif" ngbDropdownMenu aria-labelledby="notification-menu" >
                    <span *ngIf="notifcount<1">
                            <a class="dropdown-item-delete" >
                                <h5 class="card-title">
                                    Aucune notification
                                </h5>
                            </a>
                        </span>
                    <li *ngFor="let notification of notifications ;trackBy: trackId">
                        <hr>
                        <span *ngIf="notification.typeNotification.nom=='Tache créée'">
                            <div type="button" class="close" aria-label="Close"  (click)="deleteNotif(notification.id)">
                                <span aria-hidden="true" >×</span>
                            </div>
                            <a class="dropdown-item-notif" [routerLink]="['tache', notification.tache.id,'view']" routerLinkActive="active" (click)="collapseNavbar()">
                                <h5 class="card-title">
                                    <fa-icon icon="tasks"></fa-icon>
                                    Tache créée
                                </h5>
                                <div class="card-text">La tâche {{notification.tache.titre}} a été créée </div>
                                <div class="card-date"><i class="fa fa-clock-o"></i>{{notification.dateHeure| date :'short'}}</div>
                            </a>
                        </span>
                        <span *ngIf="notification.typeNotification.nom=='Tache modifiée'">
                            <div type="button" class="close" aria-label="Close"  (click)="deleteNotif(notification.id)">
                                <span aria-hidden="true">×</span>
                            </div>
                            <a class="dropdown-item-notif" [routerLink]="['tache', notification.tache.id,'view']" routerLinkActive="active" (click)="collapseNavbar()">
                                <h5 class="card-title">
                                    <fa-icon icon="tasks"></fa-icon>
                                    Tache modifiée
                                </h5>
                                <span class="card-text">La tâche {{ notification.tache.titre }} a été modifiée </span>
                                 <div class="card-date"><i class="fa fa-clock-o"></i>{{notification.dateHeure| date :'short'}}</div>
                            </a>
                        </span>
                        <span *ngIf="notification.typeNotification.nom=='Membre invité'">
                            <div type="button" class="close" aria-label="Close"  (click)="deleteNotif(notification.id)">
                                <span aria-hidden="true" >×</span>
                            </div>
                            <a class="dropdown-item-notif" [routerLink]="['projet', notification.projet.id,'manage']" routerLinkActive="active" (click)="collapseNavbar()">
                                <h5 class="card-title">
                                    <fa-icon icon="user"></fa-icon>
                                    Membre invitée
                                </h5>
                                <span class="card-text">Vous avez été ajouté au projet {{ notification.projet.titre }}</span>
                                 <div class="card-date"><i class="fa fa-clock-o"></i>{{notification.dateHeure| date :'short'}}</div>
                            </a>
                        </span>
                        <span *ngIf="notification.typeNotification.nom=='Assignation d une tache à un membre'">
                            <div type="button" class="close" aria-label="Close"  (click)="deleteNotif(notification.id)">
                                <span aria-hidden="true" >×</span>
                            </div>
                            <a class="dropdown-item-notif" [routerLink]="['tache', notification.tache.id,'view']" routerLinkActive="active" (click)="collapseNavbar()">
                                <h5 class="card-title">
                                    <fa-icon icon="user-plus"></fa-icon>
                                    Tâche assignée
                                </h5>
                                <div class="card-text">Vous avez été assignée à la tâche {{ notification.tache.titre }}</div>
                                 <div class="card-date"><i class="fa fa-clock-o"></i>{{notification.dateHeure| date :'short'}}</div>
                            </a>
                        </span>
                        <span *ngIf="notification.typeNotification.nom=='Commentaire'">
                            <div type="button" class="close" aria-label="Close"  (click)="deleteNotif(notification.id)">
                                <span aria-hidden="true" >×</span>
                            </div>
                            <a class="dropdown-item-notif" [routerLink]="['tache', notification.tache.id,'view']" routerLinkActive="active" (click)="collapseNavbar()">
                                <h5 class="card-title">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                    Tache commentée
                                </h5>
                                <div class="card-text">{{ notification.emetteur.firstName }} {{ notification.emetteur.firstName }} a commenté la tâche {{ notification.tache.titre }}</div>
                                 <div class="card-date"><i class="fa fa-clock-o"></i>{{notification.dateHeure| date :'short'}}</div>
                            </a>
                        </span>
                        <span *ngIf="notification.typeNotification.nom=='Liste créée'">
                            <div type="button" class="close" aria-label="Close"  (click)="deleteNotif(notification.id)">
                                <span aria-hidden="true" >×</span>
                            </div>
                            <a class="dropdown-item-notif" [routerLink]="['projet', notification.liste.projet.id,'manage']" routerLinkActive="active" (click)="collapseNavbar()">
                                <h5 class="card-title">
                                    <fa-icon icon="list"></fa-icon>
                                    Liste créée
                                </h5>
                                <span class="card-text">La liste {{ notification.liste.titre}} a été créée </span>
                                 <div class="card-date"><i class="fa fa-clock-o"></i>{{notification.dateHeure| date :'short'}}</div>
                            </a>
                        </span>
                        <span *ngIf="notification.typeNotification.nom=='Tache déplacée'">
                            <div type="button" class="close" aria-label="Close"  (click)="deleteNotif(notification.id)">
                                <span aria-hidden="true" >×</span>
                            </div>
                            <a class="dropdown-item-notif" [routerLink]="['tache/', notification.tache.id,'view']" routerLinkActive="active" (click)="collapseNavbar()">
                                <h5 class="card-title">
                                    <fa-icon icon="tasks"></fa-icon>
                                    Tache déplacée
                                </h5>
                                <span class="card-text">La tâche {{ notification.tache.titre }} a été déplacé déplacé dans la liste {{ notification.tache.liste.titre }}</span>
                                 <div class="card-date"><i class="fa fa-clock-o"></i>{{notification.dateHeure| date :'short'}}</div>
                            </a>
                        </span>
                        <span *ngIf="notification.typeNotification.nom=='Tache supprimée'">
                            <div type="button" class="close" aria-label="Close"  (click)="deleteNotif(notification.id)">
                                <span aria-hidden="true" >×</span>
                            </div>
                            <a class="dropdown-item-delete" (click)="collapseNavbar()">
                                <h5 class="card-title">
                                    <i class="fa fa-bitbucket" aria-hidden="true"></i>
                                    Tache supprimée
                                </h5>
                                <span class="card-text">La tâche {{ notification.tache.titre }} est supprimée </span>
                                 <div class="card-date"><i class="fa fa-clock-o"></i>{{notification.dateHeure| date :'short'}}</div>
                            </a>
                        </span>
                        <span *ngIf="notification.typeNotification.nom=='Liste supprimée'">
                            <div type="button" class="close" aria-label="Close"  (click)="deleteNotif(notification.id)">
                                <span aria-hidden="true" >×</span>
                            </div>
                            <a class="dropdown-item-delete" (click)="collapseNavbar()">
                                <h5 class="card-title">
                                    <i class="fa fa-bitbucket" aria-hidden="true"></i>
                                    Liste supprimée
                                </h5>
                                <span class="card-text">La liste {{ notification.liste.titre }} est supprimée</span>
                                 <div class="card-date"><i class="fa fa-clock-o"></i>{{notification.dateHeure| date :'short'}}</div>
                            </a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
