<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.assignt.title}">Assigned Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.assignt.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.assignt.text1} + ' ' + ${user.lastName} + ' ' + #{email.assignt.text2} + ' ' + ${user.firstName}">
    You have been assigned the task to the project:
</p>
<p>
    <a th:with="url=(@{|${baseUrl}/tache/${user.id}/view|})" th:href="${url}"
       th:text="${url}">Lien de la Tâche</a>
</p>
<p>
    <span th:text="#{email.assignt.text3}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
