<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.comment.title}">Commented Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.comment.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.comment.text1} + ' ' + ${user.lastName} + ' ' + #{email.comment.text2} + ' ' + ${user.firstName} + #{email.comment.text3}">
    The task of the project has been commented:
</p>
<p th:text="#{email.comment.text4(${user.createdBy})}">
    Comment
</p>
<p>
    <a th:with="url=(@{|${baseUrl}/tache/${user.id}/view|})" th:href="${url}"
       th:text="${url}">Lien de la Tâche</a>
</p>
<p>
    <span th:text="#{email.comment.text5}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
