<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.invitem.title}">JHipster password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.invitem.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.invitem.text1(${user.firstName})}">
    You are added to the project
</p>
<p>
    <a th:with="url=(@{|${baseUrl}/projet/${user.id}/manage|})" th:href="${url}"
       th:text="${url}">Project link</a>
</p>
<p>
    <span th:text="#{email.invitem.text2}">Regards,</span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
