<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.createl.title}">Task Created</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.createl.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.createl.text1} + ' ' + ${user.lastName} + ' ' + #{email.createl.text2} + ' ' + ${user.firstName}">
    A new list has been create in the project
</p>
<p>
    <a th:with="url=(@{|${baseUrl}/projet/${user.id}/manage|})" th:href="${url}"
       th:text="${url}">project link</a>
</p>
<p>
    <span th:text="#{email.createl.text3}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>

