<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.modifyt.title}">Task Modified</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.modifyt.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.modifyt.text1} + ' ' + ${user.firstName} + ', ' + #{email.modifyt.text2} + ' ' + ${user.lastName} + ' ' + #{email.modifyt.text3}">
    In the project, the task has been modified.
</p>
<p>
    <a th:with="url=(@{|${baseUrl}/tache/${user.id}/view|})" th:href="${url}"
       th:text="${url}">Lien de la Tâche</a>
</p>
<p>
    <span th:text="#{email.modifyt.text4}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>

