<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="labeljunction">
            <h2><span jhiTranslate="gestionApp.labeljunction.detail.title">Labeljunction</span> {{ labeljunction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionApp.labeljunction.label">Label</span></dt>
                <dd>
                    <div *ngIf="labeljunction.label">
                        <a [routerLink]="['/label', labeljunction.label?.id, 'view']">{{ labeljunction.label?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionApp.labeljunction.tache">Tache</span></dt>
                <dd>
                    <div *ngIf="labeljunction.tache">
                        <a [routerLink]="['/tache', labeljunction.tache?.id, 'view']">{{ labeljunction.tache?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/labeljunction', labeljunction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
