<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-labeljunction-heading" jhiTranslate="gestionApp.labeljunction.home.createOrEditLabel">Create or edit a Labeljunction</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.labeljunction.label" for="field_label">Label</label>
                    <select class="form-control" id="field_label" name="label" formControlName="label">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="labelOption.id === editForm.get('label')!.value?.id ? editForm.get('label')!.value : labelOption" *ngFor="let labelOption of labels; trackBy: trackById">{{ labelOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.labeljunction.tache" for="field_tache">Tache</label>
                    <select class="form-control" id="field_tache" name="tache" formControlName="tache">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tacheOption.id === editForm.get('tache')!.value?.id ? editForm.get('tache')!.value : tacheOption" *ngFor="let tacheOption of taches; trackBy: trackById">{{ tacheOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
