<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.labeljunction.home.title">Labeljunctions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-labeljunction" [routerLink]="['/labeljunction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionApp.labeljunction.home.createLabel">
            Create a new Labeljunction
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="labeljunctions?.length === 0">
        <span jhiTranslate="gestionApp.labeljunction.home.notFound">No labeljunctions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="labeljunctions && labeljunctions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.labeljunction.label">Label</span></th>
                    <th scope="col" ><span jhiTranslate="gestionApp.labeljunction.tache">Tache</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let labeljunction of labeljunctions ;trackBy: trackId">
                    <td><a [routerLink]="['/labeljunction', labeljunction.id, 'view']">{{ labeljunction.id }}</a></td>
                    <td>
                        <div *ngIf="labeljunction.label">
                            <a [routerLink]="['/label', labeljunction.label?.id, 'view']" >{{ labeljunction.label?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="labeljunction.tache">
                            <a [routerLink]="['/tache', labeljunction.tache?.id, 'view']" >{{ labeljunction.tache?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/labeljunction', labeljunction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/labeljunction', labeljunction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(labeljunction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
