<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-membres-heading" jhiTranslate="gestionApp.membres.home.createOrEditLabel" [translateValues]="{ firstName: membre!.user!.firstName, lastName: membre!.user!.lastName }">Create or edit a Membres</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <input type="hidden" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <input type="hidden" name="user" class="form-control" id="field_user" [value]="membre!.user!.id">
                    <input type="hidden" name="user" class="form-control" id="field_projet" [value]="membre!.projet!.id">
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.membres.role" for="field_role">Role</label>
                    <select class="form-control" name="role" formControlName="role" id="field_role">
                        <option value="MODIFIER">{{ 'gestionApp.Role.MODIFIER' | translate }}</option>
                        <option value="CONSULTER">{{ 'gestionApp.Role.CONSULTER' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('role')!.invalid && (editForm.get('role')!.dirty || editForm.get('role')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('role')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
